@import "variables.less";

.carousel {
    .carousel-control-prev, .carousel-control-next {
        background-color: @alternateColor;
        color: @fontColorDark;
        width: 40px;
        height: 40px;
        top: 35%;
        border-radius: 50%;
    }

    .carousel-control-prev {
        left: -50px;
    }

    .carousel-control-next {
        right: -50px;
    }
}

.text-muted {
    font-style: italic;
}

.card-bg-dark {
	color: @fontColorLight;
}

.nav {
    > .nav-link {
        color: @fontTitleColorDark;

        &:hover {
            color: @fontTitleColorDark;
        }
    }
}

.navbar {
    border-bottom-width: 1px;
    border-bottom-color: @bgPageDefault;
    border-bottom-style: solid;


    .btn-navbar {
        color: @fontTitleColorDark;
        background-color: @bgLight;
        border-color: @bgLight;
        border-radius: 10px;

        &:hover {
            color: @fontTitleColorDark;
            background-color: @bgLight;
            border-color: @bgLight;
        }
    }

    .navbar-brand {
        color: @colDefault;

        &:hover, &:focus {
            color: @colHover;
        }
    }

    .navbar-nav {
        margin: 0 auto;

        > .nav-link {
            color: @fontTitleColorDark;

            &:hover {
                color: @fontTitleColorDark;
            }
        }

        .nav-link.active {
            color: @fontTitleColorDark;
            background-color: @bgDarkHighlight;
        }

        > li {
            > a {
                color: @fontTitleColorDark;

                &:hover, &:focus {
                    color: @fontTitleColorDark;
                }
            }
        }
    }

    .navbar-toggle {
        border-color: @bgDarkHighlight;

        &:hover, &:focus {
            background-color: @bgDarkHighlight;
        }

        .icon-bar {
            background-color: @colDefault;
        }
    }
}

.btn {
	border-radius: 0;
}

a.btn, a.btn:hover, a.btn:active, a.btn:visited, a.btn:focus {
	color: @btnFontColor !important;
	background-color: @btnColor;
	border-color: @btnBorderColor;
	outline: none !important;
	box-shadow: none;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: @colDefault;

        &:hover, &:focus {
            color: @colHover;
            background-color: @bgDarkHighlight;
        }
    }
}
