@model ContactViewModel
@{
	ViewData["Title"] = "Contact";
}

<section class="content">
	<div class="bg-dark">
		<img src="~/images/About/sample-img-banner.jpg" class="img-fluid" alt="Oceanlab" />
	</div>
</section>